# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
.vscode
.vs
extension/msvc/Debug
extension/msvc/Release

# Sourcemod
sourcepawn/compile.sh
sourcepawn/spcomp
sourcepawn/spcomp.exe
sourcepawn/compile.exe
sourcepawn/compile.dat
sourcepawn/compiled/*
sourcepawn/include/admin.inc
sourcepawn/include/adminmenu.inc
sourcepawn/include/adt.inc
sourcepawn/include/adt_array.inc
sourcepawn/include/adt_stack.inc
sourcepawn/include/adt_trie.inc
sourcepawn/include/banning.inc
sourcepawn/include/basecomm.inc
sourcepawn/include/bitbuffer.inc
sourcepawn/include/clientprefs.inc
sourcepawn/include/clients.inc
sourcepawn/include/commandfilters.inc
sourcepawn/include/commandline.inc
sourcepawn/include/console.inc
sourcepawn/include/convars.inc
sourcepawn/include/core.inc
sourcepawn/include/cstrike.inc
sourcepawn/include/datapack.inc
sourcepawn/include/dbi.inc
sourcepawn/include/entity.inc
sourcepawn/include/entity_prop_stocks.inc
sourcepawn/include/events.inc
sourcepawn/include/files.inc
sourcepawn/include/float.inc
sourcepawn/include/functions.inc
sourcepawn/include/geoip.inc
sourcepawn/include/halflife.inc
sourcepawn/include/handles.inc
sourcepawn/helpers.inc
sourcepawn/include/keyvalues.inc
sourcepawn/include/lang.inc
sourcepawn/include/logging.inc
sourcepawn/include/mapchooser.inc
sourcepawn/include/menus.inc
sourcepawn/include/nextmap.inc
sourcepawn/include/profiler.inc
sourcepawn/include/protobuf.inc
sourcepawn/include/regex.inc
sourcepawn/include/sdkhooks.inc
sourcepawn/include/sdktools.inc
sourcepawn/include/sdktools_client.inc
sourcepawn/include/sdktools_engine.inc
sourcepawn/include/sdktools_entinput.inc
sourcepawn/include/sdktools_entoutput.inc
sourcepawn/include/sdktools_functions.inc
sourcepawn/include/sdktools_gamerules.inc
sourcepawn/include/sdktools_hooks.inc
sourcepawn/include/sdktools_sound.inc
sourcepawn/include/sdktools_stocks.inc
sourcepawn/include/sdktools_stringtables.inc
sourcepawn/include/sdktools_tempents.inc
sourcepawn/include/sdktools_tempents_stocks.inc
sourcepawn/include/sdktools_trace.inc
sourcepawn/include/sdktools_voice.inc
sourcepawn/include/smlib.inc
sourcepawn/include/sorting.inc
sourcepawn/include/sourcemod.inc
sourcepawn/include/string.inc
sourcepawn/include/testing.inc
sourcepawn/include/textparse.inc
sourcepawn/include/tf2.inc
sourcepawn/include/tf2items.inc
sourcepawn/include/tf2_stocks.inc
sourcepawn/include/timers.inc
sourcepawn/include/topmenus.inc
sourcepawn/include/usermessages.inc
sourcepawn/include/vector.inc
sourcepawn/include/version.inc
sourcepawn/include/version_auto.inc
sourcepawn/include/helpers.inc
sourcepawn/include/sdktools_variant_t.inc